## Python Basics

##### Importing Python packages to use later
Python has various packages that you can import in order to do more advanced analyses or have access to have access to more specialized fucntions. To import a package you must write the word import followed by the package name. You can also then add the word as followed by an abbreviation of the package name to make your code more concise, and then only refer to the abbreviation every time you call the package. For examples we code use the following line of code to import the numpy package and nickname it np:

In [ ]:
import numpy as np # this imports the numpy package which contains a lot of basic mathematical functions
# Go to https://numpy.org/doc/stable/index.html to learn more about this package. By adding the # symbol in front of a line of code, 
# the line will be ignored. This is a great way to add comments to your code!

In the block below, import the package matplotlib.pyplot and nickname it plt. This python package has a variety of plotting capabilities.

In [ ]:
import matplotlib.pyplot as plt

##### Assign Value to a Variable
Values or arrays of values can be assigned to a variable using the = symbol. You can then run a line of code with just the symbol to see what it contains.

In [ ]:
X = 4.0 # assign the value to the variable
X # view the variable, this is an integer

In [ ]:
Y = 'Hello. I like ice cream.' # assign the value to the variable
Y # view the variable, in python, some variables are strings and are surrounded by apostrophes. These are treated differently than integers.

In the block below, create an integer variable named month and assign a value of 4.

In the block below, create a string variable and assign your name as the value.

You can also assign muliple variables at a time or view multiple variables at the same time:

In [ ]:
rows, layers, columns = 5, 2, 10

In [ ]:
rows, layers, columns

In the block below, create two variables, K and R. Assign the value 0.001 to K and 0.0005 to R. Do this all in one line of code.

##### Python Math Basics
Python can be used to perform basic math operations. 
- Use * for multiplication, / for division, + for addition and - for subtraction. 
- Use ** to raise a value to a power (e.g. 2**2 = 4).

In [ ]:
# Subtract 1.5 from 4 and then multiply the result by 10. Assign the result to a variable named F
F = (4-1.5)*10 # perform math and assign to variable
F # view result

In [ ]:
# Mulitplication: In the space below, multiply 4 by 6.5

In [ ]:
# Division: In the space below, divide 18 by 3

In [ ]:
# Cube the value 4 (in other words, raise 4 to the power of 3)

##### Calculate the discharge through the aquifer given the below parameters. Use only one line of code. Call the result Q and display result.

In [ ]:
# Parameters
K = 1*10**-5 # hydraulic conductivity in units of m/s; this could also be written as 1e-5 in python
A = 100 # cross-sectional area in units of m^2
dh = 5 # change in head of 5 meters
dl = 50 # flow path length of 50 meters

##### Creating arrays manually
In python, multiple values can also be stored in arrays.

In [ ]:
Months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] # this array contains the numeric months
Months

In [ ]:
a = np.array([[1, 2], [3, 4]]) # this array contains 2 rows of data and two columns
a

In [ ]:
# You can extract a specific value from an array by referring to its index locations
a[1][0] # python starts at 0 rather than 1 so the 3 is in column 0, row 1

##### Create array of ones

In [ ]:
# array of ones with specified dimensions
Ones = np.ones((2,6),int) # create an array of ones with 6 columns and 2 rows
Ones

In [ ]:
# Create array of evenly spaced numbers over a specified interval
Even_interval = np.linspace(0.0, 10.0, num=6)
Even_interval

##### Math with arrays
All the math functions can also be used on arrays

In [ ]:
(Ones*Even_interval)/2 # multiply two arrays by each other and divide their result by 2

In [ ]:
# In the space below, multiply the Even_interval array by the value 10.

##### For loops
For loops are used to do an operation repeatedly. They make it much more efficient than performing an operation repeatedly.

In [ ]:
for x in range(6): # this for loop goes through each value from 0 to 5, divides it by 2, and then displays the result
  print(x/2)

##### Plot Data
The command plt.plot() is used to plot data. Inside the parentheses, include the x data, then y data, then optionally you can specify the symbol to use.

In [ ]:
plt.plot(Months, np.linspace(0, 1000, num=12), 'o')
plt.xlabel('Month')
plt.ylabel('Fake Numbers')
plt.show()

In the block below, make a plot showing the month on the x-axis and the average temperature in Farenheit on the y-axis. Label the axes.

In [ ]:
Ave_temp = [33, 35, 42, 53, 63, 72, 77, 76, 69, 58, 48, 39] # new york average temperature in farenheit from January to December

#### You have completed Part 1 of today's lab. Export and print the completed Python Basics notebook.